server.port: 5601
server.host: "0.0.0.0"

# Подключаемся к Elasticsearch
elasticsearch.hosts: ["http://{{ groups['elasticsearch'][0] }}:9200"]

# Без авторизации и HTTPS
elasticsearch.ssl.verificationMode: none


# Имя кластера (можно пропустить)
server.name: "kibana-node"

# Логи
logging:
  appenders:
    default:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: pattern
  root:
    appenders: [default]
    level: info
